#define form1 1000
#define LABEL1 1001
#define LISTBOX1 1002
#define BTN_MODIFY 1003
#define BTN_QUIT 1004
#define splash 1100
#define searchinglabel 1101

form1 DIALOGEX 10,10,640,480
CAPTION "thinSample"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|WS_MAXIMIZEBOX
BEGIN
  CONTROL "IDC_STC",LABEL1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,10,9,563,15
  CONTROL "",LISTBOX1,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_EXTENDEDSEL|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_MULTIPLESEL|LBS_NOTIFY,10,33,620,411,WS_EX_CLIENTEDGE
  CONTROL "Modify in thinAir",BTN_MODIFY,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,294,450,165,21
  CONTROL "Quit",BTN_QUIT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,465,450,165,21
END

splash DIALOGEX 10,10,288,57
CAPTION "thinSample"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_BORDER|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX|WS_MAXIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "Searching your samples...",searchinglabel,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,0,3,288,51
END

